/* Login.css */

.login-page {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .login-container {
  background-color: gray;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.login-form {
  flex: 1;
  padding-left: 20px; /* Adjust spacing between image and form */
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: red;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
