/* Reset some default styles for better consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* padding-top: 100px; */
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }
  
  
  /* Global container styles */
  .container {

    max-width: 1200px;
    /* margin-top: 1000px; */
    margin: 0 auto;
    padding: 20px;
    z-index: 1;
  }
  
  /* Visual container styles */
  .visual-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* About section styles */
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }
  
  .about-content {
    flex: 1;
    max-width: 600px;
  }
  
  .about-content h2 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  
  .about-content p {
    line-height: 1.6;
    color: #666;
  }
  
  .about-image img {
    max-width: 100px;
    max-height: fit-content;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Section styles */
  .about-section {
    margin-bottom: 40px;
  }
  
  .about-section h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 15px;
  }
  
  .about-section p {
    line-height: 1.6;
    color: #555;
  }
  