/* Global styles */
body {
  font-family: 'Your Preferred Font', sans-serif; /* Set your preferred font */
}

/* Basic styling for the navbar */
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the logo container */
.logo {
  display: flex;
  align-items: center;
}

/* Style for the logo image */
.logo img {
  max-width: 100px; /* Adjust the maximum width of the logo as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Style for the navigation links */
.links a {
  color: white;
  text-decoration: none;
  margin: 0 15px; /* Add some spacing between the links */
  font-size: 16px;
}

/* Style for the active link */
.links a:hover {
  color: #66ccff; /* You can choose your own hover color */
}

/* Light mode styles */
body.light-mode {
  background-color: #fff;
  color: #333;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Additional styles for your app components go here */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
