:root {
  --background-color-light: #f0f0f0; /* Light mode background color */
  --background-color-dark: #333;    /* Dark mode background color */
  --transition-duration: 0.3s;      /* Transition duration in seconds */
}

body.light-mode {
  background-color: var(--background-color-light);
  transition: background-color var(--transition-duration) ease-in-out;
}

body.dark-mode {
  background-color: var(--background-color-dark);
}

.dark-mode {
  background-color: grey; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
}

.light-mode {
  background-color: white; /* Light mode background color */
  color: #333; /* Light mode text color */
}

/* Your CSS file or style section */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
}

footer p {
  margin: 0; /* Remove default margin for the paragraph inside the footer */
}

body{
  height: 100%;
}