.dark-mode {
  background-color: rgb(0, 0, 0); /* Dark mode background color */
  color: #fff; /* Dark mode text color */
}

.light-mode {
  background-color: white; /* Light mode background color */
  color: #333; /* Light mode text color */
}

/* Your CSS file or style section */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
}

footer p {
  margin: 0; /* Remove default margin for the paragraph inside the footer */
}

body{
  height: 100%;
}